.mdl-grid
  .mdl-cell.mdl-cell--4-col
  .mdl-cell.mdl-cell--4-col
   input.mdl-textfield__input#searchinput(type="search", placeholder="Digite um termo e pressione ENTER", name="searchcontents", [value]="", title="", (keyup.enter)="search()", [(ngModel)]="searchquery")
  .mdl-cell.mdl-cell--4-col
 .mdl-grid
  .mdl-cell.mdl-cell--12-col
   section(*ngIf="searchresults.length > 0")
    i.text-muted {{ searchresults.length }} Resultados para {{ searchlastquery }}
    ul
     li(*ngFor="#item of searchresults")
      {{ item.title }}
      a.text-primary(href="{{ item.url }}", target="_blank") (...)
   section(*ngIf="searchresults.length == 0")
    i.text-danger Nenhum resultado para {{ searchquery }}
   .section-title
    h4
     span Mídia
   .mdl-grid
     for x, y in course.discipline
      .mdl-cell.mdl-cell--4-col
       .mdl-card.mdl-shadow--2dp
        .mdl-card__title
         h4= x.title
        .mdl-card__supporting-text
         small= x.details
        .mdl-card__actions.mdl-card--border
         dl.list-examinations
          for z, w in x.examinations
           dt
            a(href="z.url")
             i.mdi.mdi-tag-text-outline.mdi-2x
           dd
            strong= z.title
            br
            small= z.timecreated