extends layouts/wide
block content
 .row#page-userprofile
  .mdl-cell.mdl-cell--2-col
  .mdl-cell.mdl-cell--8-col
   table.mdl-data-table.mdl-js-data-table#tb-profile
    thead
     tr
     th
      i.mdi.mdi-account-convert.mdi-4x
     th(colspan=3)
      h3 Ficha do usuário
    tbody
     tr
      th Usuário
      td= user.username
      th Email
      td= user.email
     tr
      th Curso
      td(colspan=3, align="center")= course.name
     tr
      th Data de criação
      td= user.timecreated
      th Último login
      td= user.timelastlogin
    tfoot
  .mdl-cell.mdl-cell--2-col